body {
    background: #292e7b url('../images/pattern1.png') center center repeat;
    background-size: 25em;
    background-blend-mode: exclusion;
    background-attachment: fixed;
    margin: 0
}

  .longText { 
    color: rgba(0,0,0,0);
    font-family: "EB Garamond";
    font-size: 2vh;
    width: calc(100% - 800px);
  }

  .titleVector {
    height: 100%;
  }

  .comingSoon {
    font-family: EB Garamond;
    text-align: center;
    color: #d3ab6a;
    font-size: 2em;
    width: 100%;
    text-shadow: 0px 2px #1e2369, 0px -2px #1e2369, 2px 0px #1e2369, -2px -0px #1e2369;
    filter: drop-shadow(0px 0px 8px black);
    font-weight: bold;
  }

  .titleContainer {
    height: 20%;
  }

  .coverContainer {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cornerDecoration {
    width: 100%;
  }

  .outerContainer {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .scrollContainer {
    width: 500%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .authorContainer {
    background-color: #d3ab6a;
    justify-self: center;
    max-width: 500px;
    height: 100%;
    min-height: fit-content;
    border-right: 3px solid #292e7b;
    border-left: 3px solid #292e7b;
  }

  .aboutPage {
    background-color: rgba(0,0,0,.7);
    min-height: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }

  .hconnector {
    background-color: #d3ab6a;
    width: 10vw;
    height: 4px;
  }

  .vconnector {
    background-color: #d3ab6a;
    width: 4px;
    height: 15vh;
    margin-top: calc(-7vh - 4px);
  }

  .childConnector {
    height: 10vh;
    width: 19vw;
    border-top: 5px #d3ab6a solid;
    border-left: 5px #d3ab6a solid;
  }

  .selectedTreeContainer {
    overflow-y: scroll !important;
    scrollbar-width: none !important;
  }
  
  .familyTreeContainer {
    width: 500vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 5vh 10vh 0;
  }
  
  .treeChildrenContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%
  }

  .treeNode {
    width: 10vh;
    height: 14vh;
    border: 5px #d3ab6a solid;
    overflow: hidden;
    cursor: pointer;
  }
  .treeNode:hover {
    background-color: rgba(255,255,255,.3);
    transition: background-color 300ms;
  }
  
  .textLink {
    text-align: left;
    cursor: pointer;
  }

  .textLink:hover {
    color: white;
    transition: color 300ms;
  }

  .button {
    width: -webkit-fill-available;
    padding: 20px;
    text-align: center;
    color: #d3ab6a;
    font-family: EB Garamond;
    font-size: 2em;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(255,255,255,.1);
    transition: background-color 300ms;
  }

  .coverImage {
    filter: drop-shadow(rgba(0, 0, 0, .5) 5px 10px);
    height: 85%;
    margin: -5% 0 0 0;
  }
  
  @media only screen and (max-width: 760px){
    .navigation {
      display: none !important;
    }

    .titleContainer {
      padding: 0 15px;
      width: 100%;
      height: auto;
    }
    .titleVector {
      height: auto;
    }

    .authorContainer {
      margin: 0;
      max-width: none;
      height: fit-content;
    }

    .aboutPage {
      width: 100%;
      height: fit-content;
    }

    .coverContainer {
      width: 100%;
      overflow: hidden;
    }
    
    .coverImage {
      filter: drop-shadow(rgba(0, 0, 0, .5) 5px 10px);
      width: 140%;
      height: auto;
    }

    .titleVector {
      width: 100%;
      min-width: 100%;
    }

    .familyTreeContainer {
      width: 100%;
      height: 100%;
      overflow: auto;
      min-height: fit-content;
      padding: 20px 0px
    }

    .familyNode {
      display: none;
    }

    .childConnector {
      width: 33vw;
    }

    .scroller {
      display: none;
    }
    .page-tile-seperator {
      display: none;
    }
  
    .page-tile-title{
      font-size: 48px;
    }
  }