body {
    background: #292e7b url('../images/pattern1.png') center center repeat;
    background-size: 25em;
    background-blend-mode: exclusion;
    background-attachment: fixed;
    margin: 0
}

.scroll-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    overflow: scroll;
    height: calc(100vh - 200px);
  }
  
  .scroll-section::-webkit-scrollbar {
    display: none;
  }
  
  .scroller {
    position: fixed;
    top: calc(100vh - 23px);
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
  }

  .longText { 
    color: rgba(0,0,0,0);
    font-family: "EB Garamond";
    font-size: 2vh;
    width: calc(100% - 800px);
  }

  .titleVector {
    height: 100%;
  }

  .titleContainer {
    height: 20%;
  }

  .coverContainer {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cornerDecoration {
    width: 100%;
  }

  .button {
    width: -webkit-fill-available;
    padding: 20px;
    text-align: center;
    color: #d3ab6a;
    font-family: 'EB Garamond';
    font-size: 2em;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(255,255,255,.1);
    -webkit-transition: background-color 300ms;
  }
  
  @media only screen and (max-width: 760px){
    .titleContainer {
      padding: '0 15px';
      width: '-webkit-fill-available';
    }
    .titleVector {
      width: 100%;
      min-width: 100%;
    }
    .scroller {
      display: none;
    }
    .page-tile-seperator {
      display: none;
    }
  
    .page-tile-title{
      font-size: 48px;
    }
  }